@charset "utf-8";

// colors
$background-color: #d7e0e7;
$header-color: #2E4F72;
$vss-red: #f25a85;
$vss-yellow: #f3c759;
$twitter-blue: #299dee;

$navbar-background-color: $header-color;
$navbar-height: 0;
