@charset "utf-8";

body {
  background-color: $background-color;
  min-height: 100vh;
}

html {
  height: 100%;
}

@media (max-width: $desktop) {
  body {
    .box, .panel {
      width: inherit;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.notification {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;

  #notice {
    width: 60%;
    margin: 0 auto;

    @media (max-width: $desktop) {
      width: inherit;
      margin: 0 1rem;
    }
  }
}
