@charset "utf-8";

body {
  background-color: $background-color;
  min-height: 100vh;
}

html {
  height: 100%;
}

.box,
.panel {
  @include mobile {
    padding-left: 16px;
    padding-right: 16px;
    margin: 16px auto;
  }
  @include tablet {
    padding-left: 32px;
    padding-right: 32px;
    margin: 48px auto;
  }
}

.notification {
  padding: 12px 16px !important;
  #notice, #alert {
    width: 680px;
    max-width: 100%;
    margin: 0 auto;
  }
}
