@charset "utf-8";

footer.footer {
  background-color: $background-color;
  border-top: 1px dotted $footer-border;
  padding-top: 32px;
  padding-bottom: 32px;

  a, i, span {
    color: $header-color;
  }

  a {
    margin-right: 8px;
    margin-left: 8px;
  }

  .content:not(:last-child) {
    margin-bottom: 16px;
  }
}
