@charset "utf-8";

$header-height: 80px;
$mobile-header-height: 52px;

header {
  background-color: $header-color;
  #burger-checkbox:checked ~ div.dropdown-menu {
    display: block;
  }
}

.navbar {
  @include tablet {
    height: $header-height;
    padding: 0 32px;
  }
  @include mobile {
    height: $mobile-header-height;
    padding: 0 8px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar-brand {
  height: 100%;
  img {
    object-fit: contain;
    max-height: calc(100% - 16px);
  }
}

.vss-logo-image {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-menu {
  flex: 1;
}

@include tablet {
  .navbar, .navbar-menu, .navbar-end, .navbar-item {
    display: flex;
  }

  .navbar-menu {
    justify-content: flex-end;
    box-shadow: none;
  }
}

.navbar-item {
  align-self: center;
  align-items: center;
  height: 42px;
  margin: 0 4px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: .2s;
  &:not(.vss-sign-up):hover {
    background-color: transparent;
  }
  &.vss-new,
  &.vss-new:hover {
    color: $background-color;
  }
  &.vss-new:hover {
    border-color: $background-color;
  }
  &.vss-list,
  &.vss-list:hover {
    color: $background-color;
  }
  &.vss-list:hover {
    border-color: $background-color;
  }
  &.vss-sign-up,
  &.vss-sign-up:hover {
    color: $header-color;
    background-color: $vss-yellow;
  }
  &.vss-sign-up:hover {
    opacity: 0.8;
  }
  &.vss-login,
  &.vss-login:hover {
    color: $vss-yellow;
  }
  &.vss-login:hover {
    border-color: $vss-yellow;
  }
  &.dropdown {
    .icon {
      color: white;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

.dropdown.is-hoverable.is-right.navbar-item.navbar-link {
  &::after {
    border-color: $background-color;
  }
}

.dropdown-content {
  text-align: left;
}

.vss-burger-menu {
  margin-left: auto;

  #burger-checkbox {
    display: none;
  }
}

.navbar-burger {
  @include tablet {
    display: none;
  }
  @include mobile {
    width: 44px;
    height: 44px;
    margin-left: 0;
  }
  span {
    color: $background-color;
  }
}
