@charset "utf-8";

.terms {
  width: 80%;
  margin: 2rem auto;

  h1 {
    padding-bottom: 1rem;
  }
  h2 {
    padding: 1rem 0 0.5rem 0;
  }

  h3 {
    padding: 0.5rem 0 0.25rem 0;
  }

  ul {
    padding: 0.5rem 0;
  }

  li {
    list-style: square;
    margin-left: 1.5rem;
  }
}
