@charset "utf-8";

.terms {
  width: 720px;
  max-width: 100%;
  margin: 32px auto;

  h1 {
    padding-bottom: 16px;
  }
  h2 {
    padding: 16px 0 8px 0;
  }

  h3 {
    padding: 8px 0 4px 0;
  }

  ul {
    padding: 8px 0;
  }

  li {
    list-style: square;
    margin-left: 24px;
  }
}
