@charset "utf-8";

.panel {
  width: 680px;
  max-width: calc(100% - 32px);

  .panel-heading,
  .panel-block,
  .vss-no_charts_message {
    background-color: white;
  }

  .panel-heading {
    color: $header-color;
    border-bottom: 1px solid #ededed;

    @include mobile {
      padding-left: 16px;
      padding-right: 16px;
    }

    @include tablet {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  .panel-block {
    @include mobile {
      padding-left: 16px;
      padding-right: 16px;
    }

    @include tablet {
      padding-left: 32px;
      padding-right: 32px;
    }

    .chart-title {
      margin-right: auto;
      overflow-wrap: anywhere;
    }

    .vss-no_charts {
      &_message {
        padding: 0.75em 1em;
        margin: 0 auto;
      }

      &_link {
        a {
          color: $header-color;
          text-decoration: underline;
        }
      }
    }

    .vss-panel-list_button {
      a {
        margin: 0 4px;
      }
    }
  }

  p {
    padding-bottom: 0.75rem;
  }
}

.vss-devise-form {
  width: 480px;
  max-width: calc(100% - 24px);

  h2 {
    padding-bottom: 8px;
    border-bottom: solid 1px whitesmoke;
    margin-bottom: 16px;
  }

  .button {
    width: 100%;
    margin: 8px 0 !important;
    max-width: 320px;
  }

  a.button {
    color: white;
    background-color: $twitter-blue;
    border-style: none;
    transition: 0.2s;

    &:hover {
      opacity: 0.8;
    }

    i {
      margin-right: 8px;
    }
  }

  .actions,
  .vss-devise-links {
    text-align: center;
  }

  hr {
    margin: 12px 0;
  }

  .actions {
    .button.has-text-weight-bold {
      color: $vss-yellow;
    }

    .button {
      color: $background;
      background-color: $header-color;
      transition: 0.2s;
      border-style: none;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  #error_explanation {
    width: inherit;

    ul {
      margin: 0;
    }
  }
}

.is-muted-text-link {
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  color: #999;

  &:hover {
    text-decoration: underline;
    color: $danger;
  }
}
