@charset "utf-8";

.panel {
  width: 60%;
  margin: 3rem auto 0 auto;
  margin-bottom: 3rem !important;

  @media(max-width: $desktop) {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
  }

  .panel-heading, .panel-block, .vss-no_charts_message {
    background-color: white;
  }

  .panel-heading {
    color: $header-color;
  }

  .panel-block {
    .chart-title {
      margin-right: auto;
      overflow-wrap: anywhere;
    }

    .vss-panel-list_button {
      a {
        margin: 0 4px;
      }
    }
  }

  .vss-no_charts_message {
    padding: 0.75em 1em;
    margin: 0 auto;
  }
}

.pagination {
  padding-top: 1rem;

  @media (min-width: $desktop) {
    width: 80%;
    margin: 0 auto !important;
  }

  .pagination-link.is-current {
    background-color: $header-color;
    border-color: $header-color;
    color: $background-color;
  }
}

.vss-devise-form {
  width: 40%;

  h2 {
    padding-bottom: 0.5rem;
  }

  .button {
    width: 100%;
    margin: 0.5rem 0 !important;
  }

  a.button {
    color: white;
    background-color: $twitter-blue;
    border-style: none;
    transition: .2s;

    &:hover {
      opacity: 0.8;
    }

    i {
      margin-right: 0.5rem;
    }
  }

  .actions, .vss-devise-links {
    text-align: center;
  }

  hr {
    margin: 0.75rem 0;
  }

  .actions {
    input.button.has-text-weight-bold {
      color: $vss-yellow;
    }

    input.button {
      color: $background;
      background-color: $header-color;
      margin: 0.25rem;
      padding-top: 6px;
      transition: .2s;
      border-style: none;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  #error_explanation {
    width: inherit;

    ul {
      margin: 0;
    }
  }
}
