@charset "utf-8";

.vss-welcome-container {
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
  padding: 48px 16px;

  h1 {
    margin: 48px 0;
    text-align: center;
  }

  h1,
  h2 {
    color: $header-color;
  }

  img {
    padding: 16px;
    border-radius: 4px;
    background-color: #fff;
  }

  .columns + .columns {
    margin-top: 32px;
  }

  h2 + p {
    margin-top: 8px;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.vss-welcome-links {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;

  a {
    margin: 8px;
    transition: 0.2s;
    color: $header-color;
    flex: 1;

    &:hover {
      opacity: 0.8;
    }
  }

  .vss-sign-up {
    background-color: $vss-yellow;

    &:hover {
      border-color: transparent;
      opacity: 0.8;
    }
  }

  .vss-login {
    background-color: transparent;
    border-color: $header-color;
  }
}

.vss-welcome-links__start {
  display: flex;
  margin-bottom: 16px;

  a {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.vss-demo_movie {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 20%;

  @include mobile {
    padding-bottom: 45%;
  }

  @include tablet {
    padding-bottom: 35%;
  }

  iframe {
    max-width: 480px;
    max-height: 270px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.vss-copy-example {
  text-decoration: underline;
  font-weight: normal;
}
