<p id="notice"><%= notice %></p>

<nav class="panel">
  <p class="panel-heading">
    All Routines
  </p>
  <% if @charts.any? %>
    <% @charts.each do |chart| %>
      <div class="panel-block is-justify-content-flex-end">
        <div class="chart-title"><%= link_to chart.title, chart %></div>
        <div class="panel-sub"><%= link_to 'Delete', chart, method: :delete, data: { confirm: 'Are you sure?' } if @user == current_user %></div>
      </div>
    <% end %>
  <% else %>
    <p>There is no routine you saved.</p>
  <% end %>
</nav>
<br>
