<p id="notice"><%= notice %></p>

<%= render 'form', chart: @chart %>

<!--<p>-->
  <%#= image_tag @chart.image, class: 'image'%>
<!--</p>-->

<%= link_to 'Edit', edit_chart_path(@chart) %> |
<%= link_to 'Back', charts_path %>
