@import "application.scss";

.box {
  width: 60%;
  margin: 3rem auto 3rem auto !important;

  @media(max-width: $desktop) {
    margin-top: 1rem;
  }

  h2, label, a, .label {
    color: $header-color;
    overflow-wrap: anywhere;
  }

  @media (max-width: $tablet) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  #js-chart {
    .vss-select-container, {
      margin: 0 auto;
      width: 80%;
    }

    .vss-chart-title {
      width: 80%;
      height: 4rem;
      margin: 0 auto;

      &.vss-is-show {
        width: 80%;
        margin: 0 auto;

        h2 {
          margin-right: auto;
        }

        div {
          margin-left: 0.5rem;
        }

        a {
          padding: 0 0.5rem;
          width: 50px;

          &.edit {
            border: 1px solid $header-color;
            border-radius: 4px;
            transition: .1s;

            &:hover {
              background-color: $header-color;
              color: white;
            }
          }
        }
      }
    }

    .vss-select-block {
      padding: 0.5rem 0;

      label.radio {
        margin-left: 0;
        padding-right: 1rem;
      }
    }

    .vss-button-container {
      margin: 0 auto;
      width: 80%;
      padding: 1rem 1rem;

      a {
        margin: 0.25rem;
        padding-top: 6px;
        transition: .2s;
        border: 1px solid $header-color;

        &:hover {
          border-color: $background-color;
        }
      }

      .vss-button-row.submit {
        padding-top: 0.25rem;

        a.button:not(.vss-save) {
          background-color: $background-color;

          &:hover {
            color: $header-color;
            opacity: 0.8;
          }
        }

        .vss-save {
          color: $vss-yellow;
          background-color: $header-color;

          &:hover {
            opacity: 0.8;
            border:1px solid $header-color;
          }
        }
      }
    }

    .vss-img-wrapper {
      text-align: center;

      #img {
        width: 80%;
      }
    }

    .vss-chart-wrapper {
      position: relative;
      width: 100%;
      padding-bottom: 1.5rem;

      &:before {
        content: "";
        display: block;
        padding-top: 20%;
      }

      #chart {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      .konvajs-content {
        width: inherit !important;

        canvas {
          width: 80% !important;
          height: auto !important;
          position: absolute;
          top: 1rem !important;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0 auto !important;
        }
      }
    }
  }
}

#error_explanation.notification {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  ul {
    width: 60%;
    margin:0 auto;

    @media(max-width: $tablet) {
      width: inherit;
      margin: 0 1rem;
    }
  }
}