@import "application.scss";
$chart-width: 500px;
$mobile-chart-width: 320px;

.box {
  width: 60%;
  margin: 0 auto;
  @media (max-width: $tablet) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  #js-chart {
    .vss-select-container, {
      margin: 0 auto;
      width: 80%;
    }

    .vss-chart-title {
      width: 80%;
      margin: 0 auto;

      &.vss-is-show {
        width: $chart-width;
        height: 2rem;
        margin: 0 auto;
        @media (max-width: $tablet) {
          width: $mobile-chart-width;
        }

        h2 {
          margin-right: auto;
        }

        a {
          padding: 0 0.5rem;
          vertical-align: bottom;
        }
      }
    }

    .vss-select-block {
      padding: 0.5rem 0;

      p {
        margin-bottom: 0.25rem;
      }

      label.radio {
        margin-left: 0;
        padding-right: 1rem;
      }
    }

    .vss-button-container {
      margin: 0 auto;
      width: 80%;
      padding: 1rem 1rem;

      .vss-button-row.submit {
        padding-top: 0.25rem;
      }

      a {
        margin: 0.25rem;
      }
    }

  }

  #chart {
    padding: 1rem 0;
  }

  .konvajs-content {
    margin: 0 auto;

    canvas {
      width: inherit;
    }
  }

}
