// Place all the styles related to the charts controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

#js-chart {
  p, label, .title, .trick-select, .click-count-select, .pattern-select, .beat-length-select, div {
    text-align: center;
  }
  .trick-select, .click-count-select, .pattern-select, .beat-length-select {
    margin: 20px 0;
  }
  .button {
    margin: 12px 12px;
  }
  .trick-select {
    p {
      //text-align: center;
    }
  }
}

.actions {
text-align: center;
}

.konvajs-content {
  margin: 0 auto;
}

.select-container, .add {
  display: flex;
  justify-content: center;
}
