@import "application.scss";

header {
  height: 56px;
  background-color: #3e8ed0;

  .vss-burger-menu {
    margin-left: auto;
  }

  #burger-checkbox {
    display: none;
  }

  #burger-checkbox:checked ~ div.dropdown-menu {
    display: block;
  }

  nav {
    height: 100%;

    a {
      height: 100%;
    }
  }
}
