@import "application.scss";
$header-height: 120px;
$mobile-header-height: 100px;

header {
  height: $header-height;

  @media (max-width: $tablet) {
    height: $mobile-header-height;
  }

  .navbar {
    background-color: #cccccc;
  }

  .vss-burger-menu {
    margin-left: auto;

    #burger-checkbox {
      display: none;
    }

    .navbar-burger {
      @media (min-width: $tablet) {
        display: none;
      }
    }
  }

  #burger-checkbox:checked ~ div.dropdown-menu {
    display: block;
  }

  nav {
    height: 100%;

    @media (min-width: $tablet) {
      &.navbar, .navbar-menu, .navbar-end, .navbar-item {
        display: flex;
      }

      .navbar-menu {
        margin-left: auto;
        background-color: transparent;
        padding: 0.5rem 0;
        box-shadow: none;

        .navbar-end {
          align-items: center;

          .navbar-item {
            align-self: center;
            align-items: center;
            height: 42px;
          }
        }
      }
    }

    div.navbar-brand {
      height: inherit;

      a {
        padding-left: 10%;

        @media (max-width: $tablet) {
          paddin-left: 5%
        }

        img {
          height: $header-height - 20px;

          @media (max-width: $tablet) {
            height: $mobile-header-height - 20px;
          }
          width: auto;
          margin: 10px 0;
        }
      }
    }


    a {
      height: 100%;
    }
  }
}
