header {
  height: 56px;
  background-color: #3e8ed0;

  h1 {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    margin: auto;
    margin-left: 12px;
  }

  nav {
    height: 100%;

    a {
      height: 100%;
    }
  }
}
