// Place all the styles related to the Users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chart-title {
  margin-right: auto;
}

.panel {
  width: 80%;
  margin: 0 auto;
}

.vss-panel-list_button {
  a {
    margin: 0 4px;
  }
}

.vss-no_charts_message {
  padding: 0.75em 1em;
}
