@import "application.scss";

.vss-welcome-container {
  width: 70%;
  margin: 3rem auto;

  h1 {
    margin: 2rem 0;
    text-align: center;
  }

  .column {
   padding-bottom: 2rem;
  }

  @media(max-width: $tablet) {
    div.column {
      padding-bottom: 1rem;
    }
  }

  img {
    margin:0 auto;
  }

  h1, h2 {
    color: $header-color;
  }

  .vss-welcome-links {
    text-align: center;

    a {
      margin: 1rem 0.5rem;
      transition: .2s;
      color: $header-color;

      &:hover {
        opacity: 0.8;
      }
    }
    .vss-sign-up {
      background-color: $vss-yellow;

      &:hover {
        border-color: transparent;
        opacity: 0.8;
      }
    }

    .vss-login {
      background-color: transparent;
      border-color: $header-color;
    }
  }
}